<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>

    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/}" method="post" role="form" enctype="multipart/form-data">
    <legend>Update a Picture</legend>

    <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control" name="image" id="image" accept="image/jpeg,image/png,image/gif"></input>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div th:each="image : ${images}">
    <img th:src="${image.toStreamingURI()}" class="img-responsive" alt="Image"></img>
</div>
</body>
</html>